div.table_details{

    div div{
        width: 33.33%;
        margin-left: 15px;
    }
    div div:first-child{
        width: 20%;
    }
    .form-control{
        text-align: right;
    }
   input{
    text-align: right;

   }
}